<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.netappsid.m2e.pde.loadTarget"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.netappsid.m2e.pde.target.LoadMavenTargetAction"
               enablesFor="1"
               id="com.netappsid.m2e.pde.loadTarget"
               label="Load PDE Target"
               menubarPath="org.eclipse.m2e.core.mavenMenu/update">
         </action>
         <visibility>
            <objectState
                  name="nature"
                  value="org.eclipse.m2e.core.maven2Nature">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.netappsid.m2e.pde.loadTarget"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.netappsid.m2e.pde.target.SaveMavenTargetAction"
               enablesFor="1"
               id="com.netappsid.m2e.pde.saveTarget"
               label="Save/Update PDE Target File"
               menubarPath="org.eclipse.m2e.core.mavenMenu/update"
               tooltip="Save/Updates an existing PDE target file and 2 folders: MAVEN dependencies and other plugins that will not be deleted once the update is performed again">
         </action>
         <visibility>
            <objectState
                  name="nature"
                  value="org.eclipse.m2e.core.maven2Nature">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>

</plugin>
