<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            id="com.netappsid.m2e.pde.loadTarget">
         <action
               class="com.netappsid.m2e.pde.target.LoadMavenTargetAction"
               enablesFor="1"
               id="com.netappsid.m2e.pde.loadTarget"
               label="Load PDE Target"
               menubarPath="org.eclipse.m2e.core.mavenMenu/update">
         </action>
      </objectContribution>
   </extension>

</plugin>
